In [2]:
%matplotlib inline
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

# Setup Seaborn
sns.set_style("whitegrid")
sns.set_context("poster")

In [3]:
df_offers = pd.read_excel("./WineKMC.xlsx", sheet_name =0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

In [4]:
df_transactions = pd.read_excel("./WineKMC.xlsx", sheet_name=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

In [5]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_name  324 non-null    object
 1   offer_id       324 non-null    int64
 2   n              324 non-null    int64
dtypes: int64(2), object(1)
memory usage: 7.7+ KB

In [6]:
df=pd.merge(df_offers,df_transactions)

In [8]:
matrix=df.pivot_table(index=['customer_name'], columns = ['offer_id'], values='n')

matrix=matrix.fillna(0).reset_index()

In [13]:
matrix=matrix.fillna(0).reset_index()
x_cols = matrix.columns[1:]

In [14]:
from sklearn.cluster import KMeans

In [15]:
cluster=KMeans(n_clusters=5)

In [16]:
matrix['cluster'] = cluster.fit_predict(matrix[matrix.columns[2:]])

In [17]:
matrix.cluster.value_counts()

3    29
1    26
0    18
2    15
4    12
Name: cluster, dtype: int64

from sklearn.decomposition import PCA

In [18]:
from sklearn.decomposition import PCA

In [19]:
pca=PCA(n_components = 2)

In [20]:
matrix['x'] = pca.fit_transform(matrix[x_cols])[:,0]

In [21]:
matrix['y'] = pca.fit_transform(matrix[x_cols])[:,1]

In [22]:
matrix = matrix.reset_index()

In [23]:
customer_clusters = matrix[['customer_name','cluster','x','y']]

In [24]:
customer_clusters.head()

offer_id customer_name  cluster         x         y
0                Adams        3  1.007580  0.108215
1                Allen        1 -0.287539  0.044715
2             Anderson        4 -0.392032  1.038391
3               Bailey        3  0.699477 -0.022542
4                Baker        2  0.088183 -0.471695

In [26]:
df=pd.merge(df_transactions,customer_clusters)

In [27]:
df=pd.merge(df_offers,df)

In [29]:
!pip install ggplot

Collecting ggplot
  Downloading ggplot-0.11.5-py2.py3-none-any.whl (2.2 MB)
Requirement already satisfied: statsmodels in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (0.12.0)
Requirement already satisfied: pandas in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (1.1.3)
Collecting brewer2mpl
  Downloading brewer2mpl-1.4.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: patsy>=0.4 in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (0.5.1)
Requirement already satisfied: numpy in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (1.19.2)
Requirement already satisfied: matplotlib in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (3.3.2)
Requirement already satisfied: scipy in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (1.5.2)
Requirement already satisfied: cycler in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (0.10.0)
Requirement already satisfied: six in c:\users\amshuman\anaconda3\lib\site-packages (from ggplot) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\amshuman\anaconda3\lib\site-packages (from pandas->ggplot) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\amshuman\anaconda3\lib\site-packages (from pandas->ggplot) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->ggplot) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->ggplot) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->ggplot) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->ggplot) (1.3.0)
Installing collected packages: brewer2mpl, ggplot
Successfully installed brewer2mpl-1.4.1 ggplot-0.11.5