In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [2]:
creditlog = pd.read_csv("C:\\Users\\amshuman\\machinelearning\\GermanCredit.csv")
creditlog.head()

,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,Class,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
0,6,1169,4,4,67,2,1,0,1,Good,...,0,0,1,0,1,0,0,0,1,0
1,48,5951,2,2,22,1,1,1,1,Bad,...,0,0,1,0,1,0,0,0,1,0
2,12,2096,2,3,49,1,2,1,1,Good,...,0,0,1,0,1,0,0,1,0,0
3,42,7882,2,4,45,1,2,1,1,Good,...,0,0,1,0,0,1,0,0,1,0
4,24,4870,3,4,53,2,2,1,1,Bad,...,0,0,1,0,0,1,0,0,1,0

In [3]:
from sklearn.metrics import accuracy_score

In [5]:
X = creditlog.drop('Class', axis = 1)

In [7]:
X.head()

,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,CheckingAccountStatus.lt.0,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
0,6,1169,4,4,67,2,1,0,1,1,...,0,0,1,0,1,0,0,0,1,0
1,48,5951,2,2,22,1,1,1,1,0,...,0,0,1,0,1,0,0,0,1,0
2,12,2096,2,3,49,1,2,1,1,0,...,0,0,1,0,1,0,0,1,0,0
3,42,7882,2,4,45,1,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0
4,24,4870,3,4,53,2,2,1,1,1,...,0,0,1,0,0,1,0,0,1,0

In [8]:
dtc = DecisionTreeClassifier()

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, creditlog.Class, test_size = 0.3, random_state=42)
X_train.head()

,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,CheckingAccountStatus.lt.0,...,OtherInstallmentPlans.Bank,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified
541,24,2032,4,4,60,2,1,0,1,0,...,0,0,1,0,0,1,0,0,1,0
440,12,1884,4,4,39,1,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
482,30,3622,4,4,57,2,1,0,1,1,...,0,0,1,1,0,0,0,0,1,0
422,12,958,2,3,47,2,2,1,1,0,...,0,0,1,0,1,0,0,1,0,0
778,36,5711,4,2,38,2,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1

In [55]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:
print(accuracy_score(dtc.predict(X_test), y_test))

0.6766666666666666

In [25]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

In [140]:
def cv_score(dtc, x, y, score_func=accuracy_score):
    print(type(x))
    result = 0
    nfold = 5
    for train, test in KFold(nfold).split(x): # split data into train/test groups, 5 times
        
        xtrain = x.iloc[train]
        xtest =  x.iloc[test]
        ytrain = y.iloc[train]
        ytest =  y.iloc[test]
        dtc.fit(xtrain, ytrain) # fit
        result += score_func(dtc.predict(xtest), ytest) # evaluate score function on held-out data
    return result / nfold # average

In [141]:
from sklearn.model_selection import cross_val_score

In [142]:
score = cv_score(dtc, X_train, y_train)

<class 'pandas.core.frame.DataFrame'>

In [143]:
print(score)

0.6599999999999999

In [147]:
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV


#param_grid = [{'C': [0.001, 0.1, 1, 10, 100], 'kernel': ['linear']}]
param_grid = {
            "criterion":['gini','entropy'],
            "max_depth":range(1,10),         
            "min_samples_split":range(1,5),
            "min_samples_leaf":range(1,5)
             }

grid = GridSearchCV(dtc, param_grid = param_grid,cv=5,verbose=1,n_jobs=-1)

grid.fit(X_train, y_train)
print(grid.best_params_)
grid_predictions = grid.predict(X_test) 


print(accuracy_score(grid_predictions, y_test))

Fitting 5 folds for each of 288 candidates, totalling 1440 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    9.6s

{'criterion': 'gini', 'max_depth': 3, 'min_samples_leaf': 1, 'min_samples_split': 2}
0.69

[Parallel(n_jobs=-1)]: Done 1440 out of 1440 | elapsed:   12.8s finished

In [149]:
grid.best_params_

{'criterion': 'gini',
 'max_depth': 3,
 'min_samples_leaf': 1,
 'min_samples_split': 2}

In [150]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=3)

In [151]:
grid.best_score_

0.7185714285714286

In [152]:
import graphviz
import graphviz.backend
from numpy.distutils.system_info import f2py_info
from sklearn import tree

ModuleNotFoundError: No module named 'graphviz'

In [153]:
! pip install dtreeviz

Collecting dtreeviz
  Downloading dtreeviz-1.3.tar.gz (60 kB)
Collecting graphviz>=0.9
  Downloading graphviz-0.16-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: pandas in c:\users\amshuman\anaconda3\lib\site-packages (from dtreeviz) (1.1.3)
Requirement already satisfied: numpy in c:\users\amshuman\anaconda3\lib\site-packages (from dtreeviz) (1.19.2)
Requirement already satisfied: scikit-learn in c:\users\amshuman\anaconda3\lib\site-packages (from dtreeviz) (0.23.2)
Requirement already satisfied: matplotlib in c:\users\amshuman\anaconda3\lib\site-packages (from dtreeviz) (3.3.2)
Collecting colour
  Downloading colour-0.1.5-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pytest in c:\users\amshuman\anaconda3\lib\site-packages (from dtreeviz) (0.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\amshuman\anaconda3\lib\site-packages (from pandas->dtreeviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\amshuman\anaconda3\lib\site-packages (from pandas->dtreeviz) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\amshuman\anaconda3\lib\site-packages (from scikit-learn->dtreeviz) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\amshuman\anaconda3\lib\site-packages (from scikit-learn->dtreeviz) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\amshuman\anaconda3\lib\site-packages (from scikit-learn->dtreeviz) (0.17.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->dtreeviz) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->dtreeviz) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->dtreeviz) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->dtreeviz) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\amshuman\anaconda3\lib\site-packages (from matplotlib->dtreeviz) (8.0.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (20.3.0)
Requirement already satisfied: iniconfig in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (1.1.1)
Requirement already satisfied: packaging in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (20.4)
Requirement already satisfied: pluggy<1.0,>=0.12 in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (0.13.1)
Requirement already satisfied: py>=1.8.2 in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (1.9.0)
Requirement already satisfied: toml in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (0.10.1)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\amshuman\anaconda3\lib\site-packages (from pytest->dtreeviz) (1.4.0)
Requirement already satisfied: colorama in c:\users\amshuman\appdata\roaming\python\python38\site-packages (from pytest->dtreeviz) (0.4.3)
Requirement already satisfied: six>=1.5 in c:\users\amshuman\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas->dtreeviz) (1.13.0)
Building wheels for collected packages: dtreeviz
  Building wheel for dtreeviz (setup.py): started
  Building wheel for dtreeviz (setup.py): finished with status 'done'
  Created wheel for dtreeviz: filename=dtreeviz-1.3-py3-none-any.whl size=66643 sha256=9367fdfd89ea40e0441fca27c05404dad586fa0492542e059d2529179950cc07
  Stored in directory: c:\users\amshuman\appdata\local\pip\cache\wheels\9e\37\2c\3b30269ca762b6bb992fd0abb640f3e384c290e719597fddbc
Successfully built dtreeviz
Installing collected packages: graphviz, colour, dtreeviz
Successfully installed colour-0.1.5 dtreeviz-1.3 graphviz-0.16

In [154]:
import graphviz
import graphviz.backend
from numpy.distutils.system_info import f2py_info
from sklearn import tree

In [155]:
from matplotlib.figure import figaspect
import string
import re
import matplotlib.pyplot as plt
import seaborn as sns
from dtreeviz.shadow import *
from numbers import Number
import matplotlib.patches as patches
from scipy import stats

ModuleNotFoundError: No module named 'dtreeviz.shadow'

In [158]:
!pip install graphviz

Requirement already satisfied: graphviz in c:\users\amshuman\anaconda3\lib\site-packages (0.16)

In [165]:
from dtreeviz.trees import *

In [161]:
from sklearn.ensemble import RandomForestClassifier

In [162]:
rfc = RandomForestClassifier()

In [163]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [164]:
print(accuracy_score(rfc.predict(X_test), y_test))

0.78

In [166]:
def cv_score_rfc(rfc, x, y, score_func=accuracy_score):
    print(type(x))
    result = 0
    nfold = 5
    for train, test in KFold(nfold).split(x): # split data into train/test groups, 5 times
        
        xtrain = x.iloc[train]
        xtest =  x.iloc[test]
        ytrain = y.iloc[train]
        ytest =  y.iloc[test]
        rfc.fit(xtrain, ytrain) # fit
        result += score_func(dtc.predict(xtest), ytest) # evaluate score function on held-out data
    return result / nfold # average

In [167]:
score = cv_score(rfc, X_train, y_train)

<class 'pandas.core.frame.DataFrame'>

In [168]:
print(score)

0.74

In [169]:
param_grid_rfc = {
            "criterion":['gini','entropy'],
            "max_depth":range(1,10),         
            "min_samples_split":range(1,5),
            "min_samples_leaf":range(1,5)
             }

In [170]:

grid = GridSearchCV(rfc, param_grid = param_grid_rfc,cv=5,verbose=1,n_jobs=-1)

grid.fit(X_train, y_train)
print(grid.best_params_)
grid_predictions = grid.predict(X_test) 


print(accuracy_score(grid_predictions, y_test))

Fitting 5 folds for each of 288 candidates, totalling 1440 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   16.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   24.1s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:   38.3s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   59.3s
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 1440 out of 1440 | elapsed:  1.6min finished

{'criterion': 'gini', 'max_depth': 9, 'min_samples_leaf': 2, 'min_samples_split': 3}
0.7433333333333333

In [171]:
grid.best_params_

{'criterion': 'gini',
 'max_depth': 9,
 'min_samples_leaf': 2,
 'min_samples_split': 3}

In [172]:
grid.best_estimator_

RandomForestClassifier(max_depth=9, min_samples_leaf=2, min_samples_split=3)

In [173]:
grid.best_score_

0.7728571428571428